.chart {
    display: none;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    flex-wrap: wrap;
    margin-right: 10px;
    padding-bottom: 50px;
}

.chart-top {
    width: 30%;
    height: 40vh;
}

.chart-bottom {
    width: 100vw;
    height: 40vh;
}