@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'IBMPlexSansKR-Regular';
    box-sizing: border-box;
}

html {
    overflow: visible;
}

header {
    display: flex;
    /*width: 100vw;*/
    line-height: 100%;
    justify-content: center;
    background-color: #13264E;
}

header > p {
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    margin: 15px 0 10px 0;
}

header > p > a {
    font-family: 'Pretendard-Regular';
    line-height: 40px;
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    /*width: 100vw;*/
    height: 40px;
    background-color: #13264E;
    justify-content: space-around;
}

nav > a {
    font-family: 'Pretendard-Regular';
    line-height: 40px;
    text-decoration: none;
    color: white;
}

section {
    width: 100%;
    height: 81%;
    padding-top: 20px;
}

footer {
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: black;
}

footer > p {
    font-family: 'Pretendard-Regular';
    color: white;
}

h1 {
    text-align: center;
}

.form-control:disabled {
    background-color: transparent !important;
}