@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Noto+Sans+KR&family=Shrikhand&display=swap');

.wrapper-home-intro {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    /*backdrop-filter: blur(5px);*/

    /*border-radius: 10px;*/
    /*opacity: 0.5;*/
    /*background-color: white;*/
}

.wrapper-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper-aos {
    width: 80%;
    height: 100% !important;
    margin: 200px 0 200px 0;
}

.home-intro-title {
    width: 100%;
    font-family: 'Shrikhand', cursive;
    margin: 30px;
    font-size: 55px;
    text-align: center;
}

.div-aos-l, .div-aos-r {
    margin-top: 200px;
}

.div-aos-l {
    text-align: right;
}

.div-aos-r {
    text-align: left;
}