table {
}

.table-side {
    width: 500px;
    height: 100%;
}

.wrapper-account-book {
    display: flex;
    width: 500px;
}
.wrapper-table-write {
    display: block;
    width: 100%;
    text-align: center;
    padding-right: 5px;
}

.div-account-book-list {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: lightgray;
}

.div-account-book-list .btn {
    height: 40px;
    padding: 5px 10px 5px;
}