<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.accountbook.project.domain.Member" alias="Member" />
        <typeAlias type="com.accountbook.project.domain.MonthCategory" alias="MonthCategory" />
        <typeAlias type="com.accountbook.project.domain.Month" alias="Month" />
        <typeAlias type="com.accountbook.project.domain.Write" alias="Write" />
    </typeAliases>
</configuration>