<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.accountbook.project.login.dto.LoginDto" alias="LoginDto" />
        <typeAlias type="com.accountbook.project.month.dto.MonthCategoryDto" alias="MonthCategoryDto" />
        <typeAlias type="com.accountbook.project.month.dto.MonthCategoryDto$Income" alias="MonthCategoryIncomeDto" />
        <typeAlias type="com.accountbook.project.month.dto.MonthCodeDto" alias="MonthCodeDto" />
        <typeAlias type="com.accountbook.project.month.dto.MonthTableDto" alias="MonthTableDto" />
    </typeAliases>
</configuration>