<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.accountbook.mapper.AccountBookMapper">
    <select id="getACode" parameterType="java.lang.Integer" resultType="AccountBookDto">
        SELECT * FROM AC_ACCOUNTBOOK WHERE M_ID = #{m_id} ORDER BY A_CODE
    </select>

    <select id="getAccountBook" parameterType="Map" resultType="AccountBookDto">
        SELECT * FROM AC_ACCOUNTBOOK WHERE A_CODE = ${a_code} AND M_ID = ${m_id}
    </select>

    <insert id="insertAccountBook" parameterType="AccountBookInsertDto">
        INSERT INTO AC_ACCOUNTBOOK(A_ID, M_ID, A_CODE) VALUES(ACCOUNTBOOK_SEQ.NEXTVAL, #{m_id}, #{a_code})
    </insert>

    <delete id="deleteAccountBook" parameterType="AccountBookDeleteDto">
        DELETE AC_ACCOUNTBOOK WHERE M_ID = #{m_id} AND A_CODE = #{a_code}
    </delete>

    <delete id="deleteMonth" parameterType="AccountBookDeleteDto">
        DELETE AC_MONTH WHERE M_ID = #{m_id} AND A_CODE = #{a_code}
    </delete>
</mapper>