<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.accountbook.mapper.AccountBookMapper">
    <select id="getMonthCode" parameterType="java.lang.Integer" resultType="AccountBookDto">
        SELECT * FROM AC_ACCOUNTBOOK WHERE M_ID = #{m_id} ORDER BY A_CODE
    </select>

    <select id="selectMonth" parameterType="Map" resultType="AccountBookDto">
        SELECT * FROM AC_ACCOUNTBOOK WHERE A_CODE = ${a_code} AND M_ID = ${m_id}
    </select>

    <insert id="insertMonth" parameterType="map">
        INSERT INTO AC_ACCOUNTBOOK VALUES(ACCOUNTBOOK_SEQ.NEXTVAL, #{a_code}, #{m_id})
    </insert>

    <delete id="deleteMonth" parameterType="map">
        DELETE AC_MONTH WHERE ME_ID = #{me_id} AND A_CODE = #{a_code}
    </delete>

    <delete id="deleteAccountBook" parameterType="map">
        DELETE AC_ACCOUNTBOOK WHERE M_ID = #{m_id} AND A_CODE = #{a_code}
    </delete>
</mapper>