<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.board.mapper.BoardMapper">
    <select id="getName" parameterType="java.lang.Integer" resultType="BoardGetNameDto">
        SELECT M_ID, M_NAME, TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS N_CREATE_DATE
        FROM AC_MEMBER
        WHERE M_ID = #{m_id}
    </select>

    <insert id="insertBoard" parameterType="BoardInsertDto">
        INSERT INTO AC_BOARD(B_ID, B_CODE, M_ID, N_TITLE, N_CONTENT, N_VIEW, N_CREATE_DATE, B_ALT) VALUES(BOARD_SEQ.NEXTVAL, #{b_code}, #{m_id}, #{n_title}, #{n_content}, 0, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI'), #{b_alt})
    </insert>

     <select id="getContent" parameterType="map" resultType="BoardGetContentDto">
         SELECT B.B_ID, BC.B_CODE, M.M_ID, M.M_NAME, B.N_TITLE, B.N_CREATE_DATE, B.B_ALT,
                (SELECT COUNT(*) FROM AC_HEART H WHERE H.B_ID = B.B_ID) AS h_cnt,
                B.N_VIEW
        FROM AC_BOARD B
                 INNER JOIN AC_MEMBER M
                            ON M.M_ID = B.M_ID
                 INNER JOIN AC_BOARD_CODE BC
                            ON B.B_CODE = BC.B_CODE
                 INNER JOIN (
            SELECT ROWNUM RN, A.*
            FROM (
                     SELECT * FROM AC_BOARD
                     ORDER BY B_ID desc
                 ) A
        ) SUB ON B.B_ID = SUB.B_ID
        WHERE SUB.RN BETWEEN #{begin} AND #{end} AND BC.B_CODE = #{b_code}
    </select>


    <select id="getContentCnt" resultType="int">
        SELECT COUNT(*) FROM AC_BOARD
    </select>

    <select id="selectContent" parameterType="map" resultType="BoardSelectContentDto">
        SELECT B.B_ID, BC.B_CODE, M.M_ID, M.M_NAME, B.N_TITLE, B.N_CONTENT, B.N_CREATE_DATE, B.N_VIEW, B.B_ALT
        FROM AC_BOARD B, AC_MEMBER M, AC_BOARD_CODE BC
        WHERE M.M_ID = B.M_ID AND B.B_CODE = BC.B_CODE AND BC.B_CODE = #{b_code} AND B.B_ID = ${b_id}
        GROUP BY B.B_ID,BC.B_CODE, M.M_ID, M.M_NAME, B.N_TITLE, B.N_CONTENT, B.N_CREATE_DATE, B.N_VIEW, B.B_ALT
    </select>

    <delete id="deleteContent" parameterType="java.lang.Integer">
        DELETE AC_BOARD WHERE B_ID = #{b_id}
    </delete>

    <update id="updateContent" parameterType="BoardUpdateContentDto">
        UPDATE AC_BOARD SET N_TITLE = #{n_title}, N_CONTENT = #{n_content}, B_ALT = #{b_alt}, N_UPDATE_DATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI') WHERE B_ID = #{b_id}
    </update>

    <update id="updateContentCnt" parameterType="java.lang.Integer">
        UPDATE AC_BOARD SET N_VIEW = N_VIEW + 1 WHERE B_ID = #{b_id}
    </update>

    <select id="accessFlag" parameterType="java.lang.Integer" resultType="BoardAccessFlagDto">
        SELECT B.B_ID, M.M_ID, B.B_ALT
        FROM AC_BOARD B, AC_MEMBER M
        WHERE M.M_ID = B.M_ID AND B.B_ID = #{b_id}
        GROUP BY B.B_ID, M.M_ID, B.B_ALT
    </select>
</mapper>