<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.board.mapper.BoardCommentMapper">
    <select id="getComment" parameterType="int" resultType="BoardCommentDto">
        SELECT C.C_ID, C.B_ID, C.M_ID, M.M_NAME, C.C_CONTENT, C.C_CREATE_DATE
        FROM AC_COMMENT C, AC_MEMBER M
        WHERE C.M_ID = M.M_ID AND B_ID = #{b_id}
        GROUP BY C.C_ID, C.B_ID, C.M_ID, M.M_NAME, C.C_CONTENT, C.C_CREATE_DATE
        ORDER BY C_CREATE_DATE
    </select>

    <insert id="insertComment" parameterType="MonthCommentInsertDto">
        INSERT INTO AC_COMMENT(C_ID, B_ID, M_ID, C_CONTENT, C_CREATE_DATE) VALUES(COMMENT_SEQ.NEXTVAL, #{b_id}, #{m_id}, #{c_content}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI'))
    </insert>

    <select id="selectComment" parameterType="int" resultType="BoardSelectCommentDto">
        SELECT C_ID, C_CONTENT FROM AC_COMMENT WHERE C_ID = #{c_id}
    </select>

    <update id="updateComment" parameterType="map">
        UPDATE AC_COMMENT SET C_CONTENT = #{c_content}, C_UPDATE_DATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI') WHERE C_ID = #{c_id}
    </update>

    <delete id="deleteComment" parameterType="int">
        DELETE AC_COMMENT WHERE C_ID = #{c_id}
    </delete>
</mapper>