<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.member.mapper.LoginMapper">
    <select id="getEmail" parameterType="java.lang.String" resultType="LoginDto">
        SELECT * FROM AC_MEMBER WHERE M_EMAIL = #{m_email}
    </select>

    <update id="updateVisitNum" parameterType="int">
        UPDATE AC_MEMBER SET M_VISIT_NUM = M_VISIT_NUM + 1 WHERE M_ID = #{m_id}
    </update>
</mapper>