<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.month.mapper.MonthTableMapper">
    <select id="getMonthCategory" resultType="MonthCategoryDto">
        SELECT * FROM AC_CATEGORY ORDER BY C_CODE
    </select>

    <select id="getMonthCode" parameterType="java.lang.Integer" resultType="MonthCodeDto">
        SELECT * FROM AC_ACCOUNTBOOK WHERE M_ID = #{m_id} ORDER BY A_CODE
    </select>

    <select id="selectMonth" parameterType="Map" resultType="MonthCodeDto">
        SELECT * FROM AC_ACCOUNTBOOK WHERE A_CODE = ${a_code} AND M_ID = ${m_id}
    </select>

    <select id="getMonth" parameterType="Map" resultType="MonthTableDto">
        SELECT M.M_ID, M.ME_ID, M.A_ID, M.A_CODE, C.C_CODE, C.C_NAME, M.D_DATE, M.M_AMOUNT, M.M_MEMO
        FROM AC_MONTH M, AC_CATEGORY C
        WHERE M.C_CODE = C.C_CODE AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY M.M_ID, M.ME_ID, M.A_ID, M.A_CODE, C.C_CODE, C.C_NAME, M.D_DATE, M.M_AMOUNT, M.M_MEMO
        ORDER BY M.D_DATE
    </select>

    <select id="getIncome" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'A%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getSave" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'N%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getFix" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'B%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixFood" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'C%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixLife" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'D%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixTraffic" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'E%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixRegular" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'F%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixFashion" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'G%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixBeauty" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'H%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixPhrase" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'I%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixEdu" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'J%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixCulture" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'K%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixHealth" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'L%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>

    <select id="getNonFixEtc" parameterType="Map" resultType="MonthCategoryTableInfoDto">
        SELECT C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount, ROUND(SUM(M.M_AMOUNT) / SUM(SUM(M.M_AMOUNT)) OVER (), 2) * 100 m_percentage
        FROM AC_CATEGORY C
                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE
        WHERE C.C_CODE LIKE 'M%' AND M.ME_ID = #{me_id} AND M.A_CODE = #{a_code}
        GROUP BY C.C_NAME
    </select>
</mapper>