<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.mapper.MonthMapper">
    <select id="selectWriteTable" parameterType="Map" resultType="Month">
        SELECT M.M_ID, M.A_ID, M.D_DATE, C.C_CODE, C.C_NAME, M_AMOUNT, M_MEMO
        FROM AC_CATEGORY C, AC_MONTH M, AC_MEMBER ME, AC_ACCOUNTBOOK A
        WHERE C.C_CODE = M.C_CODE AND A.M_ID = ME.M_ID AND A.M_ID = #{m_id} AND A.A_ID = #{a_id}
        GROUP BY M.M_ID, M.A_ID, M.D_DATE, C.C_CODE, C.C_NAME, M_AMOUNT, M_MEMO
        ORDER BY M.D_DATE
    </select>

    <select id="selectAllCategory" resultType="MonthCategory">
        SELECT * FROM AC_CATEGORY ORDER BY C_CODE
    </select>
</mapper>