<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.month.mapper.MonthTableMapper">
    <select id="getCategory" resultType="MonthCategoryDto">
        SELECT C_ID, M_ID, C_CODE, C_NAME FROM AC_CATEGORY
    </select>

    <select id="getMonth" parameterType="Map" resultType="MonthRegisterTableDto">
        SELECT M.MO_ID, M.M_ID, M.A_ID, M.A_CODE, C.C_CODE, C.C_NAME, M.D_DATE, M.M_AMOUNT, M.M_MEMO
        FROM AC_MONTH M, AC_CATEGORY C
        WHERE M.C_CODE = C.C_CODE AND M.M_ID = #{m_id} AND M.A_CODE = #{a_code}
        GROUP BY M.MO_ID, M.M_ID, M.A_ID, M.A_CODE, C.C_CODE, C.C_NAME, M.D_DATE, M.M_AMOUNT, M.M_MEMO
        ORDER BY M.D_DATE
    </select>

    <select id="getTable" parameterType="map" resultType="MonthTableDto">
        SELECT C.C_CODE c_code, C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount FROM AC_MONTH M, AC_CATEGORY C WHERE M.M_ID = C.M_ID AND M.C_CODE = C.C_CODE AND M.M_ID = #{m_id} AND M.A_CODE = #{a_code} GROUP BY C.C_CODE, C.C_NAME ORDER BY C.C_CODE
    </select>

<!--    <select id="getTable" parameterType="Map" resultType="MonthTableDto">-->
<!--        SELECT C.C_CODE c_code, C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount-->
<!--        FROM AC_CATEGORY C-->
<!--                 INNER JOIN AC_MONTH M ON C.C_CODE = M.C_CODE-->
<!--        WHERE M.M_ID = #{m_id} AND M.A_CODE = #{a_code}-->
<!--        GROUP BY C.C_CODE, C.C_NAME-->
<!--    </select>-->
</mapper>