<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.month.mapper.MonthChartMapper">
    <resultMap id="monthChartResultMap" type="com.accountbook.project.month.dto.MonthChartDto">
        <result property="category" column="항목" />
        <result property="amount" column="금액" />
    </resultMap>

    <select id="getMemberMonthCategorySum" parameterType="MonthChartDto" resultType="MonthChartInfoDto">
        SELECT C.C_CODE c_code, C.C_NAME c_name, SUM(M.M_AMOUNT) m_amount
        FROM AC_MONTH M, AC_CATEGORY C
        WHERE M.C_CODE = C.C_CODE AND M.M_ID = #{m_id} AND C.C_CODE LIKE 'D%' AND M.A_CODE = #{a_code}
        GROUP BY C.C_CODE, C.C_NAME
        ORDER BY C.C_CODE
    </select>

    <select id="getMemberMonthCategoryAvg" parameterType="int" resultMap="monthChartResultMap">
        SELECT 항목, 금액
        FROM
            (
                SELECT
                    '식비' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'C%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '생활' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'D%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '교통' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'E%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '정기결제' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'F%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '패션' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'G%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '뷰티' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'H%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '문구' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'I%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '교육' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'J%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '문화' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'K%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '건강' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'L%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
                UNION
                SELECT
                    '기타' AS 항목,
                    (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'M%' AND m_id = #{m_id}) AS 금액
                FROM AC_MONTH
            )
        ORDER BY
            CASE
                WHEN 항목 = '식비' THEN 1
                WHEN 항목 = '생활' THEN 2
                WHEN 항목 = '교통' THEN 3
                WHEN 항목 = '정기결제' THEN 4
                WHEN 항목 = '패션' THEN 5
                WHEN 항목 = '뷰티' THEN 6
                WHEN 항목 = '문구' THEN 7
                WHEN 항목 = '교육' THEN 8
                WHEN 항목 = '문화' THEN 9
                WHEN 항목 = '건강' THEN 10
                WHEN 항목 = '기타' THEN 11
                END
    </select>

    <select id="getNotMemberMonthCategoryAvg" parameterType="int" resultMap="monthChartResultMap">
        <![CDATA[
        SELECT 항목, 금액
        FROM
        (
        SELECT
        '식비' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'C%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '생활' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'D%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '교통' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'E%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '정기결제' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'F%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '패션' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'G%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '뷰티' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'H%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '문구' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'I%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '교육' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'J%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '문화' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'K%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '건강' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'L%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        UNION
        SELECT
        '기타' AS 항목,
        (SELECT AVG(M_AMOUNT) FROM AC_MONTH WHERE C_CODE LIKE 'M%' AND m_id <> #{m_id}) AS 금액
        FROM AC_MONTH
        )
        ORDER BY
        CASE
        WHEN 항목 = '식비' THEN 1
        WHEN 항목 = '생활' THEN 2
        WHEN 항목 = '교통' THEN 3
        WHEN 항목 = '정기결제' THEN 4
        WHEN 항목 = '패션' THEN 5
        WHEN 항목 = '뷰티' THEN 6
        WHEN 항목 = '문구' THEN 7
        WHEN 항목 = '교육' THEN 8
        WHEN 항목 = '문화' THEN 9
        WHEN 항목 = '건강' THEN 10
        WHEN 항목 = '기타' THEN 11
        END
        ]]>
    </select>

    <select id="getName" parameterType="int" resultType="string">
        SELECT M_NAME FROM AC_MEMBER WHERE M_ID = #{m_id}
    </select>
</mapper>