<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.notice.mapper.NoticeMapper">
    <select id="getName" parameterType="java.lang.Integer" resultType="NoticeGetNameDto">
        SELECT M_ID, M_NAME, TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS N_CREATE_DATE
        FROM AC_MEMBER
        WHERE M_ID = #{m_id}
    </select>

    <insert id="insertNotice" parameterType="NoticeInsertDto">
        INSERT INTO AC_NOTICE(N_ID, M_ID, N_TITLE, N_CONTENT, N_CREATE_DATE, N_VIEW) VALUES(NOTICE_SEQ.NEXTVAL, #{m_id}, #{n_title}, #{n_content}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI'), 0)
    </insert>

    <select id="getContent" resultType="NoticeGetContentDto">
        SELECT N.N_ID, M.M_NAME, N.N_TITLE, N.N_CREATE_DATE, N.N_VIEW
        FROM AC_NOTICE N, AC_MEMBER M
        WHERE M.M_ID = N.M_ID
        GROUP BY N.N_ID, M.M_NAME, N.N_TITLE, N.N_CREATE_DATE, N.N_VIEW
        ORDER BY N_ID DESC
    </select>

    <select id="selectContent" parameterType="java.lang.Integer" resultType="NoticeSelectContentDto">
        SELECT N.N_ID, M.M_ID, M.M_NAME, N.N_TITLE, N.N_CONTENT, N.N_CREATE_DATE, N.N_VIEW
        FROM AC_NOTICE N, AC_MEMBER M
        WHERE M.M_ID = N.M_ID AND N_ID = ${n_id}
        GROUP BY N.N_ID, M.M_ID, M.M_NAME, N.N_TITLE, N.N_CONTENT, N.N_CREATE_DATE, N.N_VIEW
    </select>

    <delete id="deleteContent" parameterType="java.lang.Integer">
        DELETE AC_NOTICE WHERE N_ID = #{n_id}
    </delete>

    <update id="updateContent" parameterType="NoticeUpdateContentDto">
        UPDATE AC_NOTICE SET N_TITLE = #{n_title}, N_CONTENT = #{n_content}, N_UPDATE_DATE = SYSDATE WHERE N_ID = #{n_id}
    </update>

    <update id="updateContentCnt" parameterType="java.lang.Integer">
        UPDATE AC_NOTICE SET N_VIEW = N_VIEW + 1 WHERE N_ID = #{n_id}
    </update>

    <select id="modifyFlag" parameterType="java.lang.Integer" resultType="NoticeModifyFlagDto">
        SELECT N.N_ID, M.M_ID
        FROM AC_NOTICE N, AC_MEMBER M
        WHERE M.M_ID = N.M_ID AND N_ID = #{n_id}
        GROUP BY N.N_ID, M.M_ID
    </select>
</mapper>