<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accountbook.project.member.mapper.SignUpMapper">
    <insert id="signUp" parameterType="SignUpDto">
        INSERT INTO AC_MEMBER(M_ID, M_EMAIL, M_PWD, M_NAME, M_CREATE_DATE) VALUES(MEMBER_SEQ.NEXTVAL, #{m_email}, #{m_pwd}, #{m_name}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI'))
    </insert>
</mapper>