<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.accountbook.project.login.dto.LoginDto" alias="LoginDto" />
        <typeAlias type="com.accountbook.project.accountbook.dto.AccountBookDto" alias="AccountBookDto" />
        <typeAlias type="com.accountbook.project.month.dto.MonthTableDto$getCategory" alias="MonthCategoryDto" />
        <typeAlias type="com.accountbook.project.month.dto.MonthTableDto$getTable" alias="MonthTableDto" />
        <typeAlias type="com.accountbook.project.month.dto.MonthRegisterTableDto" alias="MonthRegisterTableDto" />
        <typeAlias type="com.accountbook.project.month.dto.MonthRegisterTableDto$Update" alias="MonthRegisterTableUpdateDto" />
        <typeAlias type="com.accountbook.project.month.dto.MonthChartDto" alias="MonthChartDto" />

        <typeAlias type="com.accountbook.project.board.dto.BoardDto" alias="BoardDto" />
        <typeAlias type="com.accountbook.project.board.dto.BoardDto$GetName" alias="BoardGetNameDto" />
        <typeAlias type="com.accountbook.project.board.dto.BoardDto$Insert" alias="BoardInsertDto" />
        <typeAlias type="com.accountbook.project.board.dto.BoardDto$GetContent" alias="BoardGetContentDto" />
        <typeAlias type="com.accountbook.project.board.dto.BoardDto$SelectContent" alias="BoardSelectContentDto" />
        <typeAlias type="com.accountbook.project.board.dto.BoardDto$UpdateContent" alias="BoardUpdateContentDto" />
        <typeAlias type="com.accountbook.project.board.dto.BoardDto$AccessFlag" alias="BoardAccessFlagDto" />

        <typeAlias type="com.accountbook.project.board.dto.BoardCommentDto" alias="BoardCommentDto" />
        <typeAlias type="com.accountbook.project.board.dto.BoardCommentDto$selectComment" alias="BoardSelectCommentDto" />
    </typeAliases>
</configuration>